table{
    border: 3px solid black;
    border-collapse:collapse;
    margin-left: 450px;
    margin-top: 100px;
}
td{
    height: 50px;
    width: 50px;
}
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(86, 84, 84);
}
h1{
    color: blueviolet;
}